# https://help.github.com/articles/about-codeowners/
# please keep this file in the same order as files

assets/launcher/lang/sklmessages_en_US.** @skmedix
assets/launcher/lang/sklmessages_eo.** @Waterrail
assets/launcher/lang/sklmessages_es_ES.** @atesin
# assets/launcher/lang/sklmessages_fr_FR.**
assets/launcher/lang/sklmessages_hu_HU.** @Gbr22 
assets/launcher/lang/sklmessages_nb_NO.** @SirLexPLAY
assets/launcher/lang/sklmessages_pl_PL.** @Waterrail @Greg-21 @Indexer
assets/launcher/lang/sklmessages_pt_BR.** @TheusKhan
assets/launcher/lang/sklmessages_tr_TR.** @honorsea
assets/launcher/lang/sklmessages_vi_VN.** @TrueEL
